@import '../../../assets/styles/settings.scss';


.cloudinary-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    flex-wrap: wrap;
    text-align: left;

    .cloudinary-uploader{
        // width: 80%;
        display: flex;
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
        border: 1px solid green;
        width: 80%;
        margin: $large-spacing auto;
        padding: $small-spacing;
        font-size: calc($base-font-size/1.5);

        table{
            width: 90%;
            margin: auto;

            th{
                font-size: calc($base-font-size/1.5);
            }

            button{
                font-size: calc($base-font-size/2);
            }
        }

    }
    
}
