@import '../../../../assets/styles/settings.scss';
@import '../../../../assets/styles/abstract/variables';
@import '../../../../assets/styles/abstract/mixins';

.home {
  padding: map-get($spacing, 'xl');
  flex-direction: column;
  background-color: $background;
  color: $foreground;

}

@include mobile {
  .home {
    .customers-picks {
      flex-direction: row;
      // border: 1px solid red;
      width: 90%;
      margin: auto;
      .product-container {
        width: 100%;
        .promo-container {
          width: 100%;
          // border: 1px solid blue;
          gap: 1rem;

          .promo-text-container {
            // width: 100%;
            // height: auto;
            // border: 1px solid green;
          }
          .promo-image-container {
            // height: 150px; 
            width: 70%;  
          }
        }
        
      }
    }
    .body-cta{
      width: 95%;
      margin: auto;

      .gradient{
        padding: 0 0;
      }
      
    }

   

  }
}