@import '../../../../../assets/styles/abstract/_variables';
@import '../../../../../assets/styles/abstract/_mixins';


// ToggleButton.scss

$toggle-width: 60px;
$toggle-height: 30px;
$toggle-radius: $toggle-height / 2;
$slider-width: 25px;
$slider-height: 25px;
$slider-radius: $slider-width / 2;
$toggle-color: #ccc;
$toggle-checked-color: #2196f3;

.toggle-container {
    width: $toggle-width;
    height: $toggle-height;
    border-radius: $toggle-radius;
    background-color: $toggle-color;
    position: relative;
    cursor: pointer;
}

.toggle-button {
    width: 100%;
    height: 100%;
    border-radius: $toggle-radius;
    background-color: $toggle-color;
    transition: background-color 0.3s;

    &.checked {
        background-color: $toggle-checked-color;
    }
}

.toggle-slider {
    width: $slider-width;
    height: $slider-height;
    border-radius: $slider-radius;
    background-color: #fff;
    position: absolute;
    top: ($toggle-height - $slider-height) / 2;
    transition: transform 0.3s, opacity 0.3s;

    &.left {
        transform: translateX(($toggle-width - $slider-width) / 2 - $toggle-radius);
        opacity: 1;
    }

    &.right {
        transform: translateX($toggle-width - $slider-width - ($toggle-width - $slider-width) / 2 - $toggle-radius);
        opacity: 0.6;
    }
}

.thumbnail-url-converter {
    border: 1px solid $secondary-foreground;
    border-radius: map-get($map: $spacing, $key: 'sm');
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: map-get($map: $spacing, $key: 'xs');
    padding: map-get($map: $spacing, $key: 'xs');
    margin-bottom: map-get($map: $spacing, $key: 'sm');
    position: relative;

    p {
        display: block;
    }

}

.listings-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: map-get($map: $spacing, $key: 'base');
    width: 90%;
    margin: auto;

    .buttons-container {
        display: flex;
        justify-content: space-around;
        width: 100%;
        background-color: hsl($muted-foreground);
        padding: map-get($map: $spacing, $key: 'base') map-get($map: $spacing, $key: 'sm');

        button {
            padding: map-get($map: $spacing, $key: 'sm');
        }
    }

    .listings-content {
        display: flex;
        height: 100%;

        width: 100%;

        .new-listing-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: map-get($map: $spacing, $key: 'sm');
            width: 100%;


            .seller-content-form,
            .seller-cloudinary-container {
                border: 1px solid hsl($muted-foreground);
                border-radius: map-get($map: $spacing, $key: 'sm');
                width: 100%;
                margin: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: left;
                gap: map-get($map: $spacing, $key: 'sm');
                padding: map-get($map: $spacing, $key: 'base') map-get($map: $spacing, $key: 'xs');
            }

            .seller-content-form {


                form {
                    // ToggleButton.scss
                    display: grid;
                    width: 100%;
                    margin: auto;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: repeat(4, auto);
                    grid-gap: map-get($map: $spacing, $key: 'sm');
                    padding: map-get($map: $spacing, $key: 'sm') 0;
                    margin-bottom: map-get($map: $spacing, $key: 'sm');


                    input {
                        display: block;
                        width: 90%;
                        margin: auto;
                        font-size: map-get($map: $font-sizes, $key: 'sm');
                        align-items: left;
                    }

                    textarea {
                        display: block;
                        width: 90%;
                        margin: auto;
                        font-size: map-get($map: $font-sizes, $key: 'sm');
                        align-items: left;

                        &:focus {
                            background-color: hsl($muted-foreground);
                             color: hsl($background);
                        }
                    }

                    .button-group{
                        display: flex;
                    }

                    button {
                        margin-left: map-get($map: $spacing, $key: 'sm');

                    }

                    select {
                        // appearance: none;
                        display: block;
                        width: 95%;
                        margin: auto;
                        padding: map-get($spacing, 'sm') map-get($spacing, 'md');
                        align-items: left;
                        border-radius: $radius;
                        color: hsl($muted-foreground);
                        padding: map-get($map: $spacing, $key: 'sm' );

                        option{
                            background-color: white; /* Default background for options */
                            color: black; /* Default text color */
                        }

                        option:hover {
                            background-color: hsl($muted-foreground);
                            /* Background color on hover */
                        }

                    }

                    .featured {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        p {
                            display: inline-block;
                            margin-right: map-get($map: $spacing, $key: 'sm');
                        }
                    }

                    .toggle-container {
                        width: $toggle-width;
                        height: $toggle-height;
                        border-radius: $toggle-radius;
                        background-color: $toggle-color;
                        position: relative;
                        cursor: pointer;
                        display: inline-block;

                        // padding:$margin-extra-large;

                    }

                    .toggle-button {
                        width: 100%;
                        height: 100%;
                        border-radius: $toggle-radius;
                        background-color: $toggle-color;
                        transition: background-color 0.3s;
                        display: flex;
                        align-items: center;
                        padding: 4px;


                        span {
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                        }

                        &.checked {
                            background-color: $toggle-checked-color;

                            .toggle-slider {
                                transform: translateX($toggle-width - $slider-width - 4px);
                            }
                        }
                    }

                    .toggle-slider {
                        width: $slider-width;
                        height: $slider-height;
                        border-radius: $slider-radius;
                        background-color: #fff;
                        transition: transform 0.3s;
                        transform: translateX(4px);
                    }


                }




            }
        }
    }
}





.listings-status-container {
    width: 90%;
    display: flex;
    margin: map-get($map: $spacing, $key: 'xs') auto;
    flex-direction: column;
    border: 1px solid $primary;
    border-radius: map-get($map: $spacing, $key: 'sm');
    padding: map-get($map: $spacing, $key: 'base') map-get($map: $spacing, $key: 'xs');

    table {
        width: 80%;
        margin: map-get($map: $spacing, $key: 'base') auto;

    }

    thead {
        font-size: map-get($map: $font-sizes, $key: 'sm');
        font-weight: bold;

        th {
            font-size: map-get($map: $font-sizes, $key: 'xs');
        }
    }

    tbody {
        font-size: map-get($map: $font-sizes, $key: 'sm');

        button {
            font-size: map-get($map: $font-sizes, $key: 'xs');
            background-color: $secondary;
            color: $secondary-foreground;
            padding: map-get($map: $spacing, $key: 'xs');

            &:hover {
                background-color: red;
            }
        }
    }
}

table{
    tr{
        &:hover{
            background-color: hsl($background);
        }
    }
}

.mailbox-container {
    border: 1px solid red;

}