.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.mainContainer .message-transaction {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #222;
  color: #75a358;
  padding: 10px;
  font-size: 16px;
}
.mainContainer .container {
  padding: 20px;
  display: flex;
  width: 80%;
  margin: auto;
  gap: 4rem;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.mainContainer .container .title {
  font-size: 24px;
  font-family: "Oswald, sans-serif";
  margin-bottom: 20px;
}
.mainContainer .container .paymentMethodsContainer {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 30%;
}
.mainContainer .container .paymentMethodsContainer button {
  display: flex;
  align-items: center;
  padding: 15px;
  border-width: 1px;
  border-color: #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  justify-content: center;
  cursor: pointer;
  height: 80px;
  width: 200px;
}
.mainContainer .container .paymentMethodsContainer button.selectedPaymentMethod {
  border-color: #75A358;
  background-color: #e6f3e6;
}
.mainContainer .container .paymentMethodsContainer button .paymentIcon {
  max-height: 80px;
  max-width: 80px;
  -o-object-fit: contain;
     object-fit: contain;
}
.mainContainer .container .paymentMethodsContainer button img {
  max-height: 80px;
  max-width: 80px;
}
.mainContainer .container .ctaPayContainer {
  width: 50%;
}
.mainContainer .container .ctaPayContainer .orderSummaryContainer {
  margin-bottom: 20px;
}
.mainContainer .container .ctaPayContainer .orderSummaryContainer .orderSummaryTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.mainContainer .container .ctaPayContainer .orderSummaryContainer .orderItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.mainContainer .container .ctaPayContainer .orderSummaryContainer .orderItem .orderItemName {
  flex: 1;
}
.mainContainer .container .ctaPayContainer .orderSummaryContainer .orderItem .orderItemQuantity,
.mainContainer .container .ctaPayContainer .orderSummaryContainer .orderItem .orderItemPrice {
  flex: 0.5;
  text-align: right;
}
.mainContainer .container .ctaPayContainer .orderSummaryContainer .totalContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-weight: bold;
}
.mainContainer .container .ctaPayContainer .orderSummaryContainer .totalContainer .totalText,
.mainContainer .container .ctaPayContainer .orderSummaryContainer .totalContainer .totalAmount {
  font-size: 18px;
}
.mainContainer .container .ctaPayContainer .payNowButton {
  background-color: #75A358;
  padding: 15px;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}
.headerContainer .backButton {
  margin-right: 10px;
  cursor: pointer;
  background: none;
  border: none;
}

@media (max-width: 437px) {
  .mainContainer .container {
    width: 90%;
    margin: auto;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mainContainer .container h2 {
    margin-left: 1rem;
  }
  .mainContainer .container .paymentMethodsContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 40%;
  }
  .mainContainer .container .paymentMethodsContainer .paymentMethodButton {
    height: 60px;
    width: 200px;
  }
  .mainContainer .container .paymentMethodsContainer .paymentMethodButton.selectedPaymentMethod {
    border-color: #75A358;
    background-color: #e6f3e6;
  }
  .mainContainer .container .paymentMethodsContainer .paymentMethodButton .paymentIcon {
    max-height: 100%;
    max-width: 80%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .mainContainer .container .ctaPayContainer {
    width: 90%;
    margin: auto;
  }
  .mainContainer .container .ctaPayContainer .payNowButton {
    background-color: #75A358;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    width: 80%;
    margin: auto;
    margin-left: 10%;
    height: 60px;
    padding: 1rem 0.5rem;
    font-weight: bold;
    cursor: pointer;
  }
  .mainContainer .message-transaction {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #222;
    color: #75a358;
    padding: 10px;
    font-size: 24px;
    width: 80%;
    height: 100px;
    margin: auto;
  }
}/*# sourceMappingURL=PaymentPage.css.map */