/* Base styles for navbar */
@import '../../../assets/styles/abstract/_variables';
@import '../../../assets/styles/abstract/_mixins';


.navbar {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 98%;
  margin: auto;
  padding: map-get($spacing, 'xs' ) map-get($spacing, 's' );
  // gap: 2rem;

  background-color: hsl($foreground);
  padding: map-get($spacing, 'base');

  .menu-toggle {
    display: none;
    background-color: hsl($secondary);
    color: hsl($muted-foreground);
    border: none;
    padding: 0.5rem;
    cursor: pointer;
  }

  .navbar-content {
     .logo-link {
      .logo {
        height: calc(map-get($font-sizes,'4xl')*2)
      }
    }

  
  }

  .menu {
    display: flex;
    gap: 2rem;
    max-width: 600px;

    .menu-item {
      color: hsl($muted-foreground);

      text-decoration: none;

      &:hover {
        color: hsl($primary-foreground);
        cursor: pointer;
      }

     
    }

    &.open {
      display: flex;
    }
  }
}

/* Media query for small screens */
@media (max-width: 768px) {
  .navbar {
    position: relative;
    .menu-toggle {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 10;
      border: none;
      padding: 0.5rem;
      cursor: pointer

    }
    .menu {
      display: none;
      flex-direction: column;
      width: 80%;
      position: absolute;
      top: 0;
      right: 8%;
      text-align: right;
      
      padding: map-get($spacing, 'sm' );
      opacity: 0.7;
    
    


      &.open {
        display: flex;
      }
      .menu-item{
        color: hsl($muted-foreground);
      }
    }

    .navbar-content {
      position: relative;
      width: 100%;
    
     
    }
  }
}
