// src/pages/public/search/Input.scss
@import '../assets/styles/abstract/variables';
@import '../assets/styles/abstract/mixins';


.input-group{
    margin-bottom: map-get($spacing, 'sm' );
    label{
        font-size: map-get($font-sizes, 'lg' );
        margin-right: map-get($spacing, 'sm');
       
    }

    input{
        padding: map-get($spacing , 'xs' ) map-get($spacing, 'base' ) ;
    }

  
}

