// File path: src/components/StarRating.module.scss
@import '../assets/styles/abstract/mixins';
@import '../assets/styles/abstract/variables';
@import '../assets/styles/settings.scss';
.starContainer {
    display: flex;
    align-items: center;
  }
  
  .star {
    color: #ffd700;
    font-size: 20px;
    margin: 0 1px;
  }
  