@import '../../../assets/styles/abstract/_variables';
@import '../../../assets/styles/abstract/_mixins';

.btn {
    @include flex(row, center, center);
    padding: map-get($spacing, 'sm') map-get($spacing, 'lg');
    border-radius:$radius;
   
    cursor: pointer;
    transition: all 0.3s ease;
    
    &:disabled {
        opacity: 0.7;
        cursor: not-allowed;
        &:hover {
            transform: none;
        }
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 2px rgba(hsl($secondary), 0.2);
    }

    // Primary variant
    &--primary {
      
        @include shadow(1);
        @include cta-font;

        &:hover {
            background-color: darken(hsl($background), 5%);
            transform: translateY(-1px);
            @include shadow(2);
            // border: 1px;
        }


    }

    // Secondary variant (in case you need it)
    &--secondary {
        background-color: hsl($primary-foreground);
        color: hsl($primary);
        @include shadow(1);
        @include cta-secondary-font;

        &:hover {
            background-color: darken(hsl($primary-foreground), 5%);
            color: hsl($secondary);
            transform: translateY(-1px);
            @include shadow(2);
        }

        &:active {
            transform: translateY(0);
            @include shadow(1);
        }
    }
    &--tertiary {
        background-color: none;
        color: hsl($accent);   


        &:hover {
            // background-color: darken(#4285F4, 5%);
            transform: translateY(-1px);
            @include shadow(1);
        }

        &:active {
            transform: translateY(0);
            // @include shadow(1);
        }
        &.active {
            transform: translateY(0);
            @include shadow(1);
            background-color: hsl($accent);
            color: hsl($accent-foreground);
        }
    }
    &--mini {
        background-color: none;
        color: hsl($popover-foreground); 
        padding: 0 map-get($spacing, 'sm' );     
        font-size: map-get($font-sizes, base); 

        &:hover {
            // background-color: darken(#4285F4, 5%);
            transform: translateY(-1px);
            @include shadow(1);
        }

        &:active {
            transform: translateY(0);
            // @include shadow(1);
        }
    
    }

    &--quaternary {
        background-color: #4285F4; // Fallback color for older browsers
        // background-image: linear-gradient(
        //     to right,
        //     #4285F4,  // Blue
        //     #EA4335,  // Red
        //     #FBBC05,  // Yellow
        //     #34A853   // Green
        // );
        color: white;
        @include shadow(1);
        font-size: map-get($font-sizes,'base' );

        &:hover {
            background-color: darken(#4285F4, 5%);
            transform: translateY(-1px);
            @include shadow(2);
        }

        &:active {
            transform: translateY(0);
            @include shadow(1);
        }
    }

    // Outline variant (in case you need it)
    &--outline {
        background-color: transparent;
        border: 2px solid $background;
        color: $background;

        &:hover {
            background-color: rgba(hsl($background), 0.05);
            transform: translateY(-1px);
        }

        &:active {
            transform: translateY(0);
        }
    }
}