// src/pages/public/Search/Search.scss
@import '../../../assets/styles/abstract/variables';
@import '../../../assets/styles/abstract/mixins';

.search-page {
  padding: map-get($spacing, 'xl');
  
  &__header {
    margin-bottom: map-get($spacing, 'xl');
    text-align: center;
    
    h1 {
      margin-top: map-get($spacing, 'xl');
      margin-bottom: map-get($spacing, 'lg');
      font-size: map-get($font-sizes, '3xl');
    }
  }
  
  &__content {
    max-width: map-get($breakpoints, 'xl');
    margin: 0 auto;
  }
  
  .search-results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: map-get($spacing, 'lg');
  }
}